openai
langgraph>=0.3.27
pinecone-client
streamlit
requests
langgraph-prebuilt
torch
sentence-transformers
fastapi
nicegui
anthropic
qdrant-client
pymongo
langchain-openai
langchain-google-genai
#langchain-ollama #for local deployment only not render
supabase
uvicorn
websockets
httpx
